* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
  width: 95vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 5em;
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 70vw;
  height: 300px;
  text-align: center;
  overflow: hidden;
}

article {
  position: absolute;
  margin: 0 1em;
  width: 100%;
  opacity: 0;
  transition: all 0.9s ease;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.btn {
  font-size: 2rem;
  background: none;
  font-weight: 100;
  border: none;
}
