* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(53, 53, 53);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 2em 0;
}

.filters {
  padding: 0 10em;
  margin: 1em auto;
}

.filters__btn {
  cursor: pointer;
  margin: 0.25em 0.5em;
  padding: 0.25em 2em;
  font-size: 1.3rem;
  background: none;
  color: burlywood;
  border: 1px solid burlywood;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.filters__btn:hover {
  color: azure;
  background-color: burlywood;
  transition: background-color 0.7s ease;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.list__item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item__img-container img {
  border: 2px solid burlywood;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.item__meta {
  margin: 0 2em;
}
.item__meta div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: capitalize;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid burlywood;
}

.item__price {
  font-size: 1.5rem;
}
