* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.wrapper {
  width: 30%;
  margin: 5em auto;
  color: rgb(35, 29, 29);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__title {
  padding-bottom: 0.2em;
  border-bottom: 5px solid rgb(85, 85, 237);
  border-radius: 5px;
}

.form__input {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 2em;
  margin-bottom: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(85, 85, 237);
  border-radius: 2px;
}

.form__input-field {
  padding: 0 1em;
  width: 100%;
  border: none;
  outline: none;
}

.form__input-btn {
  cursor: pointer;
  padding: 0 2em;
  background: none;
  border: none;
  color: rgb(85, 85, 237);
  border-left: 1px solid rgb(85, 85, 237);
}

.form__input-btn:hover {
  color: aliceblue;
  background-color: rgb(85, 85, 237);
  transition: all 0.5s ease;
}

.form__list {
  width: 100%;
  list-style: none;
  border-top: 2px solid rgb(85, 85, 237);
}

.form__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.3em 0;
  padding: 1em 2em;
}

.item__name {
  font-size: 1.2rem;
  font-weight: 600;
}

.item__icon {
  cursor: pointer;
  margin: 0 0.5em;
}

.icon-edit {
  color: rgb(24, 99, 15);
}
.icon-delete {
  color: red;
}
