:root {
  --background: rgb(14, 13, 13);
  --text-color: rgb(184, 184, 184);
  --green: rgb(47, 233, 106);
  --darker-green: rgb(42, 208, 95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: var(--text-color);
  background-color: var(--background);
}

main {
  margin: 5em auto;
  width: fit-content;
}

.form {
}

.form__input__field {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  line-height: 30px;
  margin-bottom: 0.5em;
  padding: 0 0.2em;
  color: var(--text-color);
  text-transform: capitalize;
  border-bottom: 1px solid var(--green);
  font-size: 1.1rem;
}

.form__input__field::placeholder {
  font-size: 0.9rem;
  text-transform: none;
}

.form__input__btn {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.1rem;
  background-color: var(--green);
}

.form__input__btn:hover {
  cursor: pointer;
  background-color: var(--darker-green);
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  transform: translate(-50%, 50%);
}

.list {
  margin-top: 2em;
  list-style: circle;
  text-align: center;
}

.list__item {
  margin: 0.5em 0;
  text-transform: capitalize;
}
