* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

main {
  margin: 5em auto;
  width: fit-content;
}

.form {
}

.form__input__field {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  line-height: 30px;
  margin-bottom: 0.5em;
  padding: 0 0.2em;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
}

.form__input__field::placeholder {
  font-size: 0.9rem;
}

.form__input__btn {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.1rem;
}

.form__input__btn:hover {
  cursor: pointer;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  transform: translate(-50%, 50%);
}

.list {
  margin-top: 2em;
  list-style: none;
}

.list__item {
  margin: 0.5em 0;
}
