* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  margin: 2em auto;
  width: 80vw;
  background-color: rgb(186, 180, 224);
  border-radius: 5px;
}

.question__container {
  padding: 1.2em;
  border-bottom: 2px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.question__title {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.8em;
  color: azure;
  background-color: rgb(56, 50, 42);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.question__title:hover {
  transform: scale(1.01);
  background-color: rgb(110, 113, 208);
}

.question__answer {
  margin-top: 1em;
  text-align: left;
  font-weight: 600;
}
