@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --text-color: hsl(265, 71%, 8%);
  --light-text-color: hsla(265, 71%, 8%, 0.458);
  --dark-text-color: hsl(270, 75%, 2%);
  --main-color: hsl(257, 67%, 43%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}

.logo__title {
  font-family: "Lobster", cursive;
  font-size: 1.7rem;
}

.logo__title > span {
  color: var(--main-color);
}

.container--hidden {
  transform: translateY(-1000%);
  transition: all 0.2s ease;
}

.container--active {
  transform: translate(0);
  transition: all 0.2s ease;
  width: fit-content;
  height: fit-content;
}

.nav__list,
.links__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__list {
  width: 100%;
}

.nav__list__item {
  margin: 0 1em;
}

.nav__list__item__link {
  text-transform: capitalize;
}

.links__list {
  justify-content: end;
  font-size: 1.4rem;
}

.links__list__item {
  cursor: pointer;
  margin: 0 0.3em;
  color: var(--light-text-color);
}

.links__list__item:hover {
  color: var(--text-color);
}

.toggle-btn {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5rem;
  background: none;
  border: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .container--active {
    width: 100%;
  }

  .links {
    width: 100%;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list__item {
    margin: 0.5em 0;
  }

  .toggle-btn {
    display: block;
  }
}
