* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 1em auto;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid rgba(55, 55, 58, 0.3);
}

.input__field {
  padding: 0.25em 1em;
  margin: 0 1em;
  font-weight: 600;
}

.input__btn {
  cursor: pointer;
  padding: 0 0.5em;
  border-radius: 2px;
  color: white;
  background-color: rgb(81, 63, 198);
  font-weight: 600;
  letter-spacing: 0.3px;
  border: 2px solid rgb(81, 63, 198);
}

.input__btn:hover {
  color: rgb(90, 75, 190);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.grid {
  display: grid;
  width: 100%;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}

.grid__item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  cursor: pointer;
  width: 250px;
  height: 120px;
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  background: #8a2be2;
}

.item__copy-msg {
  width: 100%;
  margin: 2em 0;
  padding: 0.25em;
  color: black;
  background: rgba(242, 239, 254, 0.542);
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
